{% extends "Back/index.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <h1 class="box-title p-3">Ajouter un blog Post</h1>
                <div class="card-header">

                </div>
                <div class="card-body">


                    <form method="post" action="" class="md-form" enctype="multipart/form-data">
                        {{ form.widget("title")|raw }}
                        {{ form.widget("slug")|raw }}


                        {% if blog is defined %}
                            <img src="{{ assets }}{{ form.field('image').getValue() }}" alt="">
                        {% endif %}
                        {{ form.widget("image")|raw }}
                        <div class="custom-file">
                            {{ form.widget("imageFile")|raw }}
                            <label class="custom-file-label" for="uploadFile">Choisissez une image</label>
                        </div>



                        {{ form.widget("chapo")|raw }}
                        {{ form.widget("contain")|raw }}



                        {% if published == 1 %}
                            <input type="submit" name="brouillon" class="btn btn-warning" value="Enregistrer en brouillon">
                        {% else %}
                            <input type="submit" name="action" class="btn btn-primary" value="Publier">
                        {% endif %}
                        {% if blog is defined %}
                            {% if published == 2 %}
                                <input type="submit" name="brouillon" class="btn btn-warning" value="Modifier le brouillon">
                            {% else %}
                                <input type="submit" name="action" class="btn btn-success" value="Modifier">
                            {% endif %}
                        {% else %}
                            <input type="submit" name="action" class="btn btn-warning" value="Brouillon">
                        {% endif %}
                    </form>

                </div>

            </div>

        </div>
    </div>

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}
{% block script %}
    <script src='https://cdn.tiny.cloud/1/itw6zjvo00kdoysnm6iq0ee1yxvvuecxe4xke8r2rxhox1rh/tinymce/5/tinymce.min.js' referrerpolicy="origin">
    </script>
    <script>
        tinymce.init({
            selector: '#contain'
        });
    </script>
{% endblock %}