{% extends "Back/index.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">
                        Page d'acceuil
                    </strong>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12  ">
                                <form method="post" action="" class="md-form" enctype="multipart/form-data">
                                    <div class="form-group">
                                        {{ form.widget("name")|raw }}
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            {{ form.widget("cvFile")|raw }}
                                            <label class="custom-file-label" for="uploadFile">Télécharger le CV</label>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            {{ form.widget("cvFile")|raw }}
                                            <label class="custom-file-label" for="uploadFile">Télécharger une photo</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.widget("presentation")|raw }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.widget("email")|raw }}
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

            </div>
        </div>

    </div>


{% endblock %}